#c9.io and my testing files
.c9revisions/
test/
config/*
response.txt

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules/
npm-debug.log

*.sublime-project
*.sublime-workspace

.idea/